name: ci
on:
  push:
    branches:
      - master
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: .cache
          restore-keys: |
            mkdocs-material-

      - run: pip install mkdocs-material
      - run: pip install mkdocs-roamlinks-plugin
      - run: pip install mkdocs-git-revision-date-localized-plugin
      - run: pip install mkdocs-callouts
      - run: pip install mdx_breakless_lists
      - run: pip install mkdocs-mermaid2-plugin
      - run: pip install mkdocs-exclude
      - run: pip install mkdocs-obsidian-bridge

      - run: mkdocs gh-deploy --force
